<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <!--PSO的配置文件 
	 如果是应用程序使用，当前配置文件和应用程序放到同一路径下，
	 如果是Web程序使用，当前配置文件和Web虚拟路径的根路径下。

	 -->
  <!--IAS编码,各独立应用系统编码 -->
  <IASID>01</IASID>
  <!--IAS的加密密钥 -->
  <IASKey>22362E7A9285DD53A0BBC2932F9733C505DC04EDBFE00D70</IASKey>
  
  <!--EAC的URL地址-->
  <PostUrl>http://192.168.0.203:8080/Login.aspx</PostUrl>
  <BackUrl>http://192.168.0.235:9999/TWInterface/Service/HKLogin.ashx</BackUrl>
  <!--
  正式地址
  PostUrl = http://192.168.0.84:8080/Login.aspx
  BackUrl = http://192.168.0.177:9999/TWInterface/Service/HKLogin.ashx
  
  测试地址
  PostUrl = http://192.168.0.203:8080/Login.aspx
  BackUrl = http://192.168.0.235:9999/TWInterface/Service/HKLogin.ashx
  -->

</Config>