<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--老版本图片需要拼接的URL-->
    <add key="ImageFileAddr" value="http://125.64.16.10/" />
    <!-- 碧桂园入住登记文件 -->
    <add key="BGYFilesPath" value="D:\wwwroot\HM\M_Main\UploadFiles\images/" />
    <add key="BGYFilesPathRela" value="https://erpapi.bgyfw.com:7000/HM/M_Main/UploadFiles/images/" />
    <!-- 碧桂园配置 -->
    <add key="BGYOssAccessId" value="LTAI9W6ocfmcSGQy" />
    <add key="BGYOssAccessKey" value="uP9gT6L7f154Zn2E6mHeg6wR8UV1fd" />
    <add key="BGYOssHttp" value="http://oss-cn-shenzhen.aliyuncs.com" />
    <add key="BGYSealxIncrement" value="0" />
    <add key="BGYSealyIncrement" value="-50" />
    <add key="BGYSealText" value="经办人签名处" />
    <add key="BGYSealHttp" value="http://10.10.166.145:8080/sign/cachet/text" />
    <!-- 业主头像 -->
    <add key="OwnerTaskFilesPath" value="D:\wwwroot\HM\M_Main\images\Owner\" />
    <add key="OwnerTaskFilesPathRela" value="http://125.64.16.10/HM/M_main/images/Owner/" />
    <!-- 品质设备文件 -->
    <add key="QualityTaskFilesPath" value="D:\wwwroot\HM\M_Main\images\Quality\" />
    <add key="QualityTaskFilesPathRela" value="http://125.64.16.10/HM/M_main/images/Quality/" />
    <!-- 华南城装修巡查、离线验房文件 -->
    <add key="HouseFilesPath" value="D:\wwwroot\HM\M_Main\images\HouseFiles\" />
    <add key="HouseFilesPathRela" value="http://125.64.16.10/HM/M_main/images/HouseFiles/" />
    <!-- 华南城开业入住登记文件 -->
    <add key="RoomStateHistoryFilesPath" value="D:\wwwroot\HM\M_Main\images\RoomStateHistory\" />
    <add key="RoomStateHistoryFilesPathRela" value="http://125.64.16.10/HM/M_main/images/RoomStateHistory/" />
    <!-- 综合巡查文件 -->
    <add key="ComprehensiveInspectionFilesPath" value="D:\wwwroot\HM\M_Main\images\ComprehensiveInspection\" />
    <add key="ComprehensiveInspectionFilesPathRela" value="http://125.64.16.10/HM/M_main/images/ComprehensiveInspection/" />
    <!-- 综合巡查生成的任务文件 -->
    <!-- 是否删除过期文件(除开当天生成的文件,其他全删除,1=是,0=不删除) -->
    <add key="DelOverdueComprehensiveInspectionTaskFile" value="1" />
    <add key="ComprehensiveInspectionTaskFilesPath" value="D:\wwwroot\TWMobilePropertyNew\TWInterface\Service\ComprehensiveInspection\" />
    <add key="ComprehensiveInspectionFilesTaskPathRela" value="http://1.192.88.243:16666/TWInterface/Service/ComprehensiveInspection/" />
    <!-- 金辉俊发版本报事跟进、关闭图片 -->
    <add key="IncidentFollowFilesPath" value="\UploadFiles\RoomAdjunct\" />
    <add key="IncidentFollowFilesPathRela" value="D:\wwwroot\HM\M_Main\UploadFiles\RoomAdjunct\" />
    <!--业主报事图片存放地址-->
    <add key="IncidentAcceptTaskFilesPath" value="D:\wwwroot\HM\M_Main\images\IncidentAccept\" />
    <add key="IncidentAcceptTaskFilesPathRela" value="http://125.64.16.10/HM/M_main/images/IncidentAccept/" />
    <!-- 跳蚤市场图片 -->
    <add key="BBSSecondHandMarketFilesPath" value="D:\wwwroot\HM\M_Main\images\SecondHandMarket\" />
    <add key="BBSSecondHandMarketFilesPathRela" value="http://125.64.16.10/HM/M_main/images/SecondHandMarket/" />
    <!-- 社区聊吧图片 -->
    <add key="BBSChatBarFilesPath" value="D:\wwwroot\HM\M_Main\images\ChatBar\" />
    <add key="BBSChatBarFilesPathRela" value="http://125.64.16.10/HM/M_main/images/ChatBar/" />
    <!-- 社区圈子图片 -->
    <add key="BBSCircleFilesPath" value="D:\wwwroot\HM\M_Main\images\Circle\" />
    <add key="BBSCircleFilesPathRela" value="http://125.64.16.10/HM/M_main/images/Circle/" />
    <!-- 邀请住户身份证 -->
    <add key="InviteUserIDCardFilesPath" value="D:\wwwroot\HM\M_Main\images\IDCard\" />
    <add key="InviteUserIDCardFilesPathRela" value="http://125.64.16.10/HM/M_main/images/IDCard/" />
    <!-- 保利文件上传 -->
    <add key="Bl_FileUploadUrl" value="http://47.107.176.138:82/FileUpload.aspx" />
    <add key="Bl_FileUploadServicesUrl" value="http://47.107.176.138:82/" />
    <!-- 支付宝支付回调地址 -->
    <add key="AliPay_Notify_Url" value="http://125.64.16.10:9999/TWInterface/Service/AlipayCallBack/AliPay.ashx" />
    <add key="AliPayPrec_Notify_Url" value="http://125.64.16.10:9999/TWInterface/Service/AlipayCallBack/AliPayPrec.ashx" />
    <add key="AliPayBuss_Notify_Url" value="http://125.64.16.10:9999/TWInterface/Service/AlipayCallBack/AliPayBuss.ashx" />
    <!-- 微信支付回调地址 -->
    <add key="WechatPay_Notify_Url" value="http://125.64.16.10:9999/TWInterface/Service/WeiXinPayCallBack/WeiXinPay.ashx" />
    <add key="WechatPay_Notify_New_Url" value="http://111.204.245.108:16666/TWInterface/Service/WeiXinPayCallBack/WeiXinPay_New.ashx" />
    <add key="WechatPayPrec_Notify_Url" value="http://125.64.16.10:9999/TWInterface/Service/WeiXinPayCallBack/WeiXinPayPrec.ashx" />
    <add key="WechatPayBuss_Notify_Url" value="http://125.64.16.10:9999/TWInterface/Service/WeiXinPayCallBack/WeiXinPayBuss.ashx" />
    <!-- 通联支付回调地址 -->
    <add key="AllinPay_Notify_Url" value="http://125.64.16.10:9999/TWInterface/Service/AllinPayCallBack/AllinPay.ashx" />
    <add key="AllinPay_Prec_Notify_Url" value="http://125.64.16.10:9999/TWInterface/Service/AllinPayCallBack/AllinPayPrec.ashx" />
    <!-- 京东支付回调地址 -->
    <add key="JDPay_Notify_Url" value="http://125.64.16.10:9999/TWInterface/Service/JDPayCallBack/JDPay.ashx" />
    <!-- 光大支付回调地址 -->
    <add key="CebPay_Notify_Url" value="http://120.79.213.157:9999/TWInterface/Service/CebPayCallBack/CebPay.ashx" />
    <add key="CebPay_NotifyBuss_Url" value="http://120.79.213.157:9999/TWInterface/Service/CebPayCallBack/CebPayBuss.ashx" />
    <!-- 威付通支付回调地址 -->
    <add key="WftPay_Notify_Url" value="http://125.64.16.10:9999/TWInterface/Service/WftPayCallBack/WftPay.ashx" />
    <!-- 日照农行支付回调地址 -->
    <add key="TrustPay_Notify_Url" value="http://125.64.16.10:9999/TwInterface/Service/TrustPayCallBack/TrustPay.ashx" />
    <!-- 民生银行支付接口地址 -->
    <add key="CMBC_API_Url" value="https://wxpay.cmbc.com.cn/mobilePlatform" />
    <!-- 金辉交通银行物管扫码支付回调地址 -->
    <add key="Bocom_Notify_Url" value="http://weixin.radiance.cn/Payment/QrCodeBocomNotify" />
    <!-- 民生银行支付账单文件存放路径 -->
    <add key="CMBC_Bill_Path" value="D:\Bills\" />
    <!-- 启用域控服务器登录，合景泰富必须为true，其它为false -->
    <add key="IsAd" value="false" />
    <add key="ADDomain" value="kwgproperty.com" />
    <add key="ADAdmin" value="kw161466" />
    <add key="ADPwd" value="111@vk" />
    <!-- 物管APP更新文件配置 -->
    <add key="UpgradeIniFilePath" value="D:\wwwroot\TwMobilePropertyNew\TWInterface\Service\Upgrade\Upgrade.ini" />
    <!-- 妙兜Api接口地址 -->
    <add key="MiaoDouWeChatShareUrl" value="http://wx.hxbritish.com/Home/QrCode?Id=" />
    <!-- 鸿坤报表环境 -->
    <add key="HongKunReportEnvironment" value="0" />
    <!-- 敏捷NC系统环境 -->
    <add key="MinJieNCEnvironment" value="1" />
    <!-- 捷顺门禁系统环境 -->
    <add key="JieShunEntranceEnvironment" value="1" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <!-- 日照农行支付配置项 -->
    <!-- 网上支付平台通讯方式（http / https） -->
    <add key="TrustPayConnectMethod" value="https" />
    <!--#网上支付平台服务器名-->
    <add key="TrustPayServerName" value="pay.abchina.com" />
    <!--#网上支付平台交易端口-->
    <add key="TrustPayServerPort" value="443" />
    <!--#网上支付平台接口特性-->
    <add key="TrustPayNewLine" value="2" />
    <!--#网上支付平台交易网址-->
    <add key="TrustPayTrxURL" value="/ebus/trustpay/ReceiveMerchantTrxReqServlet" />
    <!--#商户通过浏览器提交网上支付平台交易网址-->
    <add key="TrustPayIETrxURL" value="https://pay.abchina.com/ebus/ReceiveMerchantIERequestServlet" />
    <!--#代理配置信息，商户如果通过代理地址访问银行支付平台的需配置-->
    <add key="ProxyIP" value="" />
    <add key="ProxyPort" value="" />
    <!--
    #==========================================================================================
    # 网上支付平台系统配置段 - 生产环境 - 更改证书存放路径，使其和本地存放路径相匹配（绝对路径）
    #==========================================================================================
    #网上支付平台证书
    -->
    <add key="TrustPayCertFile" value="D:\03VisualStudioWorkSpace\ASP.NET_V3.1.3\cert\TrustPay.cer" />
    <!--#农行根证书文件-->
    <add key="TrustStoreFile" value="D:\03VisualStudioWorkSpace\ASP.NET_V3.1.3\cert\abc.truststore" />
    <!--#农行根证书文件密码-->
    <add key="TrustStorePassword" value="changeit" />
    <!--
    #==============================================================================
    # 商户资料段 (请更改)                                                                  
    #==============================================================================   
    -->
    <!--#商户通过浏览器提交网上支付平台交易失败网址-->
    <add key="MerchantErrorURL" value="http://127.0.0.1:803/ebusclient/MerchantIEFailure.aspx" />
    <!--
    #==============================================================================
    # 商户系统配置段 (请更改)                                                             
    #==============================================================================
    #交易日志开关（true: 表示写日志， false: 表示不写日志）
    #如果为true，需要填写 #交易日志文件存放位置
    -->
    <add key="EnableLog" value="true" />
    <!--
    #证书储存媒体
    #0: File
    #1: Hardware
    -->
    <add key="MerchantKeyStoreType" value="0" />
    <!--#Sign Server地址（当KeyStoreType=1时，必输设定）-->
    <add key="SignServerIP" value="提示：如果使用签名服务器，dIP" />
    <!--#Sign Server端口（当KeyStoreType=1时，必输设定）-->
    <add key="SignServerPort" value="提示：如果使用签名服务器，请在此设定签名服务器的端口号" />
    <!--#Sign Server密码（当KeyStoreType=1时，选择设定）-->
    <add key="SignServerPassword" value="提示：如果使用签名服务器，请在此设定签名服务器的密码" />
    <!--#商户代码-->
    <add key="MerchantID" value="103881565000507" />
    <!--#商户证书储存目录档名（当KeyStoreType=0时，必输设定）-->
    <add key="MerchantCertFile" value="D:\03VisualStudioWorkSpace\ASP.NET_V3.1.3\cert\103881565000507.pfx" />
    <!--#商户私钥加密密码（当KeyStoreType0时，必输设定）-->
    <add key="MerchantCertPassword" value="abc12345" />
    <add key="MerchantBind" value="[{&quot;CommID&quot;:190601,&quot;MerchantNum&quot;:1},{&quot;CommID&quot;:190601,&quot;MerchantNum&quot;:1}]" />
    <!-- 俊发积分支付 -->
    <add key="JF_PointPayEnvironment" value="0" />
    <add key="JF_SupportPointCost" value="住宅物业服务费（积分）,商业物业服务费（积分）,车位管理服务费（积分）,库房管理服务费（积分）,车库管理服务费（积分）" />
    <add key="JF_PointCost" value="物业服务费积分补差（APP专用）" />
    <add key="PolyWebApi" value="http://erp.polywuye.com:5000/WebApi/" />
    <!-- 保利推送配置 -->
    <add key="BL_AppPushIsProduction" value="1" />
    <add key="BL_CustAppH5URL" value="http://testerp.polywuye.com:8666" />
    <add key="BL_CustAppJGPushKeySecret" value="b669e9a6a7fb12e33f4bf293,4a8537375f8f7720693e09f6" />
    <add key="BL_CustAppJGPushAliasSuffix" value="_dev" />
    <!-- 实地单点登录配置项 -->
    <add key="SD_SSO_Enabled" value="1" />
    <add key="SD_SSO_API" value="http://test-sso-java.seedland.cc/csLoginVerification" />
    <add key="SD_SSO_SystemCode" value="SSO1025" />
    <add key="SD_SSO_Key" value="189Un284p7rZ7qk08nd1" />

    <!-- 合景商业微信推送接口地址 -->
    <add key="WECHAT_PUSH_URL" value="http://shanghu.kwgmall.com/ajax.php?act=send_msg" />
    
    <add key="Post_Url_Zoina_dept" value="http://mg.zoina.cn:9053/zoina-ms-ps-api/pshpsdeptincrmt/list" />
    <add key="Post_Url_Zoina_post" value="http://mg.zoina.cn:9053/zoina-ms-ps-api/pshpsposnincrmt/list" />
    <add key="Post_Url_Zoina_person" value="http://mg.zoina.cn:9053/zoina-ms-ps-api/pshpspersincrmt/list" />
    <add key="Post_Url_Zoina_personTenure" value="http://mg.zoina.cn:9053/zoina-ms-ps-api/pshpsjobincrmt/list" />
    <add key="authCount" value="tianwen" />
    <add key="authPassword" value="tw123" />

    <!-- 有红色物业项目设置 -->
    <add key="HaveRedWuYeCommID" value="197312" />
    <!-- 物业夜间报事时间段设置 -->
    <add key="StartHour" value=" 20:00:00" />
    <add key="EndHour" value=" 08:00:00" />

    <!-- 左邻报事接口调用参数设置 -->
    <add key="ZLSecret" value="3KUkEEV0zTLLXSqWG2KMRCgOU+GZDHj5cL1i8xdFVKD1QXG2lLCvOEYZs9SUKTqEbLSFtDO5DllNxYSG/nff6A==" />
    <add key="ZLRequestUrl" value="http://test118.zuolin.com/vdocking/privilege/hasManagePrivilege" />
    <add key="ZLAppKey" value="9057b579-1f68-456d-b98d-a151ddeacd35" />
    <add key="ZLNamespaceId" value="11" />
    
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <!-- 配置请求参数的长度 -->
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="2097151" requestPathInvalidCharacters="" maxRequestLength="1048576" executionTimeout="3600" />
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 配置请求参数的长度 -->
        <requestLimits maxQueryString="50000" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <!-- 天问物业数据库 -->
    <add name="SQLContionStringsss" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,1433;Initial Catalog=HM_wygl_new_1985;User ID=LFUser;Password=LF123SPoss" />
    <add name="ConnectionSql_JF" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,1433;Initial Catalog=HM_wygl_new_1985;User ID=LFUser;Password=LF123SPoss" />
    <!--<add name="TestConnection" connectionString="Pooling=false;Data Source=10.1.10.146;Initial Catalog=HM2_wygl_1000;User ID=LFUser;Password=LF123SPoss" />-->
    <add name="DYConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.8.216;Initial Catalog=dy_wygl_new;User ID=LFUser;Password=LF123SPoss" />
    <add name="TestConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=10.21.4.51;Initial Catalog=HM_wygl_new_2009;User ID=LFUser;Password=LF123SPoss" />
    <add name="10Connection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,1433;Initial Catalog=tw2_bs;User ID=LFUser;Password=LF123SPoss" />
    <add name="14Connection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,1433;Initial Ctalog=tw2_bs;User ID=LFUser;Password=LF123SPoss" />
    <add name="12Connection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=125.64.16.12,8433;Initial Catalog=tw2_bs;User ID=LFUser;Password=LF123SPoss" />

    <!--电3-->
    <add name="ConnectionDX3" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,1433;Initial Catalog=tw2_bs_dx;User ID=LFUser;Password=LF123SPoss" />
    <add name="19Connection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,1433;Initial Catalog=tw2_bs_dx;User ID=LFUser;Password=LF123SPoss" />

    <!--电4-->
    <add name="ConnectionDX4" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=222.211.83.167;Initial Catalog=tw2_bs_app;User ID=LFUser;Password=LF123SPoss" />
    <add name="167Connection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=222.211.83.167;Initial Catalog=tw2_bs_app;User ID=LFUser;Password=LF123SPoss" />
    <add name="36Connection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=222.211.83.167;Initial Catalog=tw2_bs_app;User ID=LFUser;Password=LF123SPoss" />
    
<!--合景数据库-->
    <add name="HJSQLContionString" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=10.1.10.146;Initial Catalog=HM_wygl_new_1862;User ID=LFUser;Password=LF123SPoss" />

    <!--美利山-->
    <add name="MLSConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,1433;Initial Catalog=HM_wygl_new_2081;User ID=LFUser;Password=LF123SPoss" />
    <!--<add name="MLSConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=125.64.16.12,8433;Initial Catalog=HM_NEW_TEST;User ID=LFUser;Password=LF123SPoss"/>-->
    <add name="tw2bsConnectionString" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,1433;Initial Catalog=tw2_bs;User ID=LFUser;Password=LF123SPoss" />
    <!--汇德物业-->
    <add name="HDSConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=10.0.200.202;Initial Catalog=HM_wygl_new_2041;User ID=LFUser;Password=LF123SPoss" />
    <!--<add name="HDSConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=125.64.16.12,8433;Initial Catalog=HM_New_Test1329;User ID=LFUser;Password=LF123SPoss"/>-->
    <!--碧桂园多租户-->
    <add name="BGY_TW" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=125.64.16.12,8433;Initial Catalog=tw2_bs;User ID=LFUser;Password=LF123SPoss" />
    <add name="SQLTW2BSConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=10.1.10.124;Initial Catalog=tw2_bs;User ID=LFUser;Password=LF123SPoss" />
    <add name="SQLConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=10.1.10.124;Initial Catalog=HM_wygl_new_1973;User ID=LFUser;Password=LF123SPoss" />
    <add name="HKSQLConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,8433;Initial Catalog=HM_wygl_new_1973;User ID=LFUser;Password=LF123SPoss" />
    <add name="SQLRtsConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=10.10.171.88;Initial Catalog=Rts;User ID=LFUser;Password=LF123SPoss" />
    <add name="SQIBSContionString" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=125.64.16.12,8433;Initial Catalog=SQI_bs;User ID=LFUser;Password=LF123SPoss" />
    <add name="BusinessContionString" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=125.64.16.10,8433;Initial Catalog=BussinessDb;User ID=LFUser;Password=LF123SPoss" />
    <add name="UnifiedConnectionString" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,1433;Initial Catalog=Unified;User ID=LFUser;Password=LF123SPoss" />
    <add name="HNC_HM_ConnectionString" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=125.64.16.12,8433;Initial Catalog=HM_wygl_new_1975;User ID=LFUser;Password=LF123SPoss" />
    <add name="MJConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=172.27.1.240;Initial Catalog=HM_wygl_new_1971;User ID=LFUser;Password=LF123SPoss" />
    <add name="HM_PayTransUnion" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=10.1.10.147;Initial Catalog=HM_PayTransUnion;User ID=LFUser;Password=LF123SPoss" />
    <!-- 金辉微信系统数据库地址 -->
    <add name="WeChat_JinHui" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.5.180;Initial Catalog=WeChat_JinHui;User ID=LFUser;Password=LF123SPoss" />
    <!-- 金辉系统数据库地址 -->
    <add name="SQLConnection_JinHui" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=192.168.0.236,1433;Initial Catalog=HM_wygl_new_1329;User ID=LFUser;Password=LF123SPoss" />
    <!-- 积分数据库 -->
    <add name="TWAppConnection" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=125.64.16.12,8433;Initial Catalog=TWApp;User ID=LFUser;Password=LF123SPoss" />
    <!--保利32服务器-->
    <add name="PolyDataVString" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=172.16.9.32;Initial Catalog=Rts_DataV;User ID=LFUser;Password=LF123SPoss" />
    <!--华宇-->
    <add name="SQLConnectionZL" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=125.64.16.12,8433;Initial Catalog=HM_wygl_new_1940;User ID=LFUser;Password=LF123SPoss" />

    <!-- 独立平台 -->
    <add name="ExclusivePlatformConnectionString" connectionString="Max Pool Size=2048;Min Pool Size=0;Pooling=true;Data Source=125.64.16.12,8433;Initial Catalog=tw2_bs;User ID=LFUser;Password=LF123SPoss" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>